.env
api/migrations/*
api/app/__pycache__/*
api/app/__pycache__
__pycache__/*
.pyc
api/app/__pycache__/*.pyc
api/app/__pycache__/core.cpython-312.pyc
api/app/__pycache__/llm.cpython-312.pyc
api/app/__pycache__/routes.cpython-312.pyc
api/app/__pycache__/steps.cpython-312.pyc
