BASE_URL=https://openrouter.ai/api/v1
API_KEY=
MODEL=meta-llama/llama-3.1-405b-instruct
PG_HOST=postgres
PG_USER=chat
PG_PORT=5432
PG_PASSWORD=example
PG_DB=srl_chat
BOT_TOKEN=
API_URL=http://api:5000
DISCORD_SERVER_ID=