BASE_URL=https://chat-impact.fernuni-hagen.de/ollama/v1
API_KEY=
MODEL=llama3:70b
EMBEDDING_URL=
EMBEDDING_MODEL=
EMBEDDING_TOKEN=
PG_HOST=postgres
PG_USER=chat
PG_PORT=5432
PG_PASSWORD=example
PG_DB=srl_chat
BOT_TOKEN=
API_URL=http://api:5000
DISCORD_SERVER_ID=